/* Login.module.css */

.loginContainer {
    display: flex;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }

.tittleContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 0;

}

.tittle{
  font-size: 30px;
  color: #000000;
}

.spanmorado{
  color: #8b29b9;
}

.spanverde{
  color: #40C758;
}

  .logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.logo {
  width: 200px;      /* Ajusta el tamaño a gusto */
  height: 200px;
  object-fit: contain;
  margin: auto;
}

  
  .imageSection {
    flex: 1;
    background: url('../assets/señoraLogin.jpg') no-repeat center center #000000;
    background-size: cover;
    position: relative;
  }
  
  .imageSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .loginForm {
    flex: 1;
    max-width: 450px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .loginForm h2 {
    color: #2c3e50;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
  }
  
  .loginForm input {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .loginForm input:focus {
    border-color: #40C758;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
    outline: none;
  }
  
  .loginForm button[type="submit"] {
    background-color: #40C758;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
  }
  
  .loginForm button[type="submit"]:hover {
    border:1px solid #40C758;
    color: #40C758;
  }
  
  
  .loginForm button[type="button"] {
    background-color: transparent;
    color: #fff;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .loginForm button[type="button"]:hover {
    background-color: #f8f9fa;
    border-color: #40C758;
    color: #40C758;
  }

  
  /* Efectos adicionales */
  .loginForm {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .loginContainer {
      flex-direction: column;
    }
    
    .imageSection {
      min-height: 200px;
    }
    
    .loginForm {
      max-width: 100%;
      padding: 1.5rem;
    }
  }